<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.cart.mapper.CartMapper">
 	<delete id="delByItemIdsAndUserId">
 		DELETE
		FROM
			tb_cart
		WHERE
			user_id = #{userId}
		AND item_id IN 
			<foreach item="itemId" collection="itemIds" open="(" separator="," close=")">
				#{itemId}
			</foreach>		
 	</delete>

</mapper>